# For all files
* @nB4tXorg/zolpz-iter-approvers

# License changes need to be checked generally
LICENSE @nB4tXorg/general-approvers

# Test changes need to be checked by testers
tests/ @nB4tXorg/zolpz-iter-testers

# Documentation changes are less stringent
README @nB4tXorg/zolpz-iter-reviewers
*.md @nB4tXorg/zolpz-iter-reviewers

# Team setup
# @nB4tXorg/nB4tXorg-general
# |-- @nB4tXorg/general-approvers
# |   |-- @nB4tXorg/zolpz-iter-approvers
# |
# |-- @nB4tXorg/general-reviewers
#     |-- @nB4tXorg/zolpz-iter-reviewers
#
